<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Timesheet</title>
    <link rel="stylesheet" href="/Admin_view/dashbord.css">

</head>

<body>
    <ul id="nav">
        <li id="logo"><img src="/Admin_view/LSP-removebg-preview.png" alt="LSP Logo"></li>
        <li class="routes">
            <h1>Employees</h1>
        </li>
        <li class="routes">
            <h1><a href="/admin/schedule">Schedule</a></h1>
        </li>
        <li class="routes">
            <h1>Location</h1>
        </li>
        <li class="routes">
            <h1>TimeSheet</h1>
        </li>
    </ul>

    <div id="form-container"></div>
    </div>

    <div id="toptable_edit">
    </div>

    <ul id="toptable">
        <li>
            <h2>Employees</h2>
        </li>
        <li><button id="schdule" onclick="show_schedule()">Add Employee</button></li>
    </ul>

    <div id="contaer">
        <table id="excel-table">
            <tr>
                <th>Employee ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Admin</th>
                <th>Edits</th>
            </tr>
        </table>
        <p id="response"></p>
    </div>
    <script>

        var id = <%=admin_id %>;
        fetch(`/admin/employees/:${id}`, {
            method: 'GET'
        }).then(async (response) => {
            const data = await response.json();
            if (!response.ok) {
                document.getElementById("response").innerHTML = data.error || "An error occurred";
            } else {
                const table = document.getElementById("excel-table")
                for (i = 0; i < data.length; i++) {
                    let id = JSON.stringify(data[i].id).replaceAll('"', '');
                    let last_name = JSON.stringify(data[i].last_name).replaceAll('"', '');
                    let first_name = JSON.stringify(data[i].first_name).replaceAll('"', '');
                    let admin = JSON.stringify(data[i].admin).replaceAll('"', '');
                    table.innerHTML += `
                    <tr>
                        <td>${id}</td>
                        <td>${last_name}</td>
                        <td>${first_name}</td>
                        <td>${admin}</td>
                        <td><a href="#toptable_edit"><button onclick="populateEdit('${id}', '${last_name}', '${first_name}', '${admin}')">...</button></a></td>
                     </tr>`}


                //document.getElementById("response").innerHTML = JSON.stringify(data)
            }
        })
            .catch(error => {
                console.error("Clock-In Error:", error);
                document.getElementById("response").innerHTML = error;
            });

        document.getElementById("form-container").innerHTML = ` <h2>Employee</h2>
        <h3 onclick="close_addtime()">X</h3>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name"  name="last_name" placeholder="e.g., Johnson" />
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder="e.g., Ricky" />
        </div>
        <div class="form-group">
            <label for="admin">Admin</label>
            <select name="admin" id="admin" placeholder=" ">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
        </div>
        <button onclick="addEmp()" id="schdule" ">Add To Employee</button> `

        function show_schedule() {
            document.getElementById("form-container").style.display = "block"
        }

        function close_addtime() {
            document.getElementById("form-container").style.display = "none";
        }

        async function addEmp() {
            const formData = {
                last_name: document.getElementById("last_name").value,
                first_name: document.getElementById("first_name").value,
                admin: document.getElementById("admin").value,
            };

            try {
                const response = await fetch(`/admin/employees/:${id}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const data = await response.json();
                if (response.ok) {
                    alert("Schedule added successfully!");
                    location.reload()
                    close_addtime()
                } else {
                    alert(data.error || "Something went wrong.");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Server error.");
            }


        }

        document.getElementById("toptable_edit").innerHTML = ` <h2 id="employee_id"></h2>
        <h3 onclick="close_edit()">X</h3>
         <input type="hidden" id="edit_id" name="edit_id" />
        <div class="form-group">
            <label for="edit_last_name">Last Name</label>
            <input type="text" id="edit_last_name"  name="edit_last_name" />
        </div>
        <div class="form-group">
            <label for="edit_first_name">First Name</label>
            <input type="text" id="edit_first_name" name="edit_first_name" />
        </div>
        <div class="form-group">
            <label for="edit_admin">Admin</label>
            <select name="edit_admin" id="edit_admin" placeholder=" ">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
        </div>
        <button onclick="edit_sch()" class="form_button">Edit</button> 

        <input type="hidden" id="del_id" name="id" />
                <button onclick="del_sch()" class="form_button" id="iddel">Delete</button>`

        async function edit_sch() {
            const formData = {
                id: document.getElementById("edit_id").value,
                last_name: document.getElementById("edit_last_name").value,
                first_name: document.getElementById("edit_first_name").value,
                admin: document.getElementById("edit_admin").value,
            };
            console.log(formData)
            try {
                const response = await fetch(`/admin/employees/:${id}`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const data = await response.json();
                if (response.ok) {
                    alert("Schedule added successfully!");
                    location.reload()
                    close_edit();
                } else {
                    alert(data.error || "Something went wrong.");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Server error.");
            }

        }

        async function del_sch() {
            const formData = {
                id: document.getElementById("del_id").value,
            };
            console.log(formData)
            try {
                const response = await fetch(`/admin/employees/:${id}`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const data = await response.json();
                if (response.ok) {
                    alert("Schedule deleted successfully!");
                    location.reload()
                    close_edit();
                } else {
                    alert(data.error || "Something went wrong.");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Server error.");
            }

        }

        function populateEdit(id, last_name, first_name, admin) {
            document.getElementById("toptable_edit").style.display = "block";
            document.getElementById("employee_id").innerText = `Employee ${id}`;
            document.getElementById("edit_id").value = id;
            document.getElementById("del_id").value = id;
            document.getElementById("edit_last_name").value = last_name;
            document.getElementById("edit_first_name").value = first_name;
            document.getElementById("admin").value = admin;
        }
        function close_edit() {
            document.getElementById("toptable_edit").style.display = "none";
        }


    </script>
</body>

</html>